.Home {
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: xx-large;
    margin-top: 10%;
    margin-bottom: 50px;

}
.logoIMG{
    margin: 5%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
   
    width: 33.33%;
   
}
/* Clear floats after image containers */
.row::after {
    content: "";

    display: table;
}
.ul{
    width: 50%;
}
.li{
    content: "";

    display: table;

}
.backgroundimg{ background-image: url('http://127.0.0.1:8885/client/Lovepik_com-500531419-desk-overlook-map.jpg');
    height: 500px; /* You must set a specified height */
    background-position:center ; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
   
    background-attachment: local;
    background-size: 100% 100%; 

}
.gridopt{
  background-color: rgba(245, 245, 245, 0.685);
    border-radius: 15px;
    width: 400px;;
    height: 400px;
   
}
#imgSuper:hover{
    box-shadow:  0 16px 20px 0 rgb(97, 182, 236);
}

#buttonCatagory{
    text-align: center;
    margin: 6%;
}
#revach{
    margin-bottom: 20px;
}
#item{
    font-family: unset;
    margin: 15px;
    padding: 1%;
    color: white;
    font-weight: bold;
    background-color: #647676;
   border-color: aliceblue;
}
#item:hover{
    opacity: 0.5;
    border-color:1.5px solid #647676;
}
h1{
    letter-spacing: 5px;
    font-size: 46px;
    text-align: center;
    color: #2d3b3e;
 
}
p{
    font-size: 22px;
    margin-top: 92px;
    text-align: center;
    margin-bottom: 1rem;
    color: #66777a;
    letter-spacing: 2px;
}
.img{
    position:fixed;
    top: 0px;
    left: 89%;
    height: 70px;
    position: sticky;
    width: 11%;

}

.img2{
    height: 532px;
    margin-top: 1.5%;
    width: 100%;
    vertical-align: middle;
}
footer{
    font-size: 2rem;
    text-align: center;
    padding: 2%;
    background-image: linear-gradient(to bottom right, white, #a6b4b7);
  
}
h2{
      letter-spacing: 10px;
}
