
  <div class="logoIMG">
    <div class="column"><img class="top-image center"
        [src]="logo" alt="תמונה" style="     width: 250%;
        text-align: center;
        
        margin-left: 0px;
        margin-top: 30px;">
    </div>
    
   
  <!-- </div>
  <div style="background-color: rgb(7, 191, 215); height: 240px; margin-top: 15%;">
    <div class="Home">
        <h1><b><br> Make your shop easier</b> </h1>
      </div>
    <h4 style=" text-align:center ;color:#0b0a0a;">The world is advancing to smart and fast shopping. <br>Do not stay behind
      like you</h4>
  </div> -->
  <div>
 
 <div  style="margin-top: 29%;margin: 10%;">
    <div id="txt">
        <h1><b> Make your shop easier</b> </h1>
        </div>
  <img id="imgSuper" [src]="super" style=" width:50%; height:50%; "> 
</div>
  <!-- <img [src]="super" style=""> -->
