
  <div class="logoIMG" style="    margin-right: 0px;
  margin-left: 0px;">
    <div class="column">
      <img class="top-image center"
        [src]="logo" alt="תמונה" style="   width: 250%;
        text-align: center;
        
        margin-left: 0px;
        margin-top: 30px;">
    </div>

  <div>

 <div  style="margin-top: 29%;margin: 10%;">
    <div id="txt">
        <h1><b> Make your shop easier</b> </h1>
        </div>
  <img id="imgSuper" [src]="super" style=" width:50%; height:50%; "> 
</div>

  <div style=" background-color: rgb(108, 194, 240) ;
  border: 10px; font-weight: bold;">
    <p style=" height: 100px;">
      Start buying easily. Visit our site to shop as quickly as possible.<br>
      All you have to do is enter your shopping list and we will create the shortest route for you.
    </p>


  </div>

