<label for="category-list"> Choose a category </label>
<select name="category-list" id="category-list" [(ngModel)]="selectedCategory" (change)="showCategory()">
    <option value="22">שמפו</option>
    <option value="23">אבקת כביסה</option>
    <option value="24">מרכך כביסה</option>
    <option value="25">ניקיון</option>
    <option value="26">נוזל רצפות</option>
    <option value="27">משלימים</option>
    <option value="28">נייר</option>
    <option value="29">היגיינה</option>
    <option value="31">חד פעמי</option>
    <option value="34">לתינוק</option>
    <option value="35">חטיפים</option>
    <option value="37">שתיה</option>
    <option value="38">ממרחים</option>
    <option value="39">פרכיות</option>
    <option value="40">עוגות</option>
    <option value="41">עוגיות</option>
    <option value="42">מתוקים</option>
    <option value="43">מתוקים</option>
    <option value="44">מרקים</option>
    <option value="45">פסטות</option>
    <option value="46">אפייה</option>
    <option value="47">בשר</option>
    <option value="48">עופות</option>
    <option value="49">דגים</option>
    <option value="50">פירות</option>
    <option value="51">ירקות</option>
    <option value="52">מוצרי חלב</option>
    <option value="53">שימורים</option>
    <option value="54">דגני בוקר</option>
    <option value="55">לחמים</option>
    <option value="56">קפואים</option>
</select>

<!-- 
<div id="buttonCatagory">
 <button type="button" class="btn btn-outline-info" value="22">שמפו</button>
<button type="button" class="btn btn-outline-info" value="23">אבקת כביסה </button>
<button type="button" class="btn btn-outline-info" value="24">מרכך כביסה</button>
<button type="button" class="btn btn-outline-info" value="25">ניקיון</button>
<br> <div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="26">נוזל רצפות</button>
<button type="button" class="btn btn-outline-info" value="27">משלימים</button>
<button type="button" class="btn btn-outline-info" value="28">נייר</button>
<button type="button" class="btn btn-outline-info" value="29">היגיינה</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="31">חד פעמי</button>
<button type="button" class="btn btn-outline-info" value="34">לתינוק</button>
<button type="button" class="btn btn-outline-info" value="35">חטיפים</button>
<button type="button" class="btn btn-outline-info" value="37">שתיה</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="38">ממרחים</button>
<button type="button" class="btn btn-outline-info" value="39">פרכיות</button>
<button type="button" class="btn btn-outline-info" value="40">עוגות</button>
<button type="button" class="btn btn-outline-info" value="41">עוגיות</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="42">מתוקים</button>
<button type="button" class="btn btn-outline-info" value="43">מתוקים</button>
<button type="button" class="btn btn-outline-info" value="44">מרקים</button>
<button type="button" class="btn btn-outline-info" value="45">פסטות</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="46">אפייה</button>
<button type="button" class="btn btn-outline-info" value="47">בשר</button>
<button type="button" class="btn btn-outline-info" value="48">עופות</button>
<button type="button" class="btn btn-outline-info" value="49">דגים</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="50">פירות</button>
<button type="button" class="btn btn-outline-info" value="51">ירקות</button>
<button type="button" class="btn btn-outline-info" value="52">מוצרי חלב</button>
<button type="button" class="btn btn-outline-info" value="53">שימורים</button>
<br><div id="revach"></div>
<button type="button" class="btn btn-outline-info" value="54">דגני בוקר</button> 
<button type="button" class="btn btn-outline-info" value="55">לחמים</button>
<button type="button" class="btn btn-outline-info" value="56">קפואים</button>
</div> -->