#buttonCatagory {
    text-align: center;
}

#revach {
    margin-bottom: 20px;
}

.item {
    font-family: unset;
    margin: 15px;
    padding: 1%;
    color: white;
    font-weight: bold;
    background-color: #647676;
    border-color: aliceblue;

}