<div style="text-align:center ;">
    <img class="top-image center" src="assets/logo.png" alt="תמונה" style="width: 50%;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;">


    <h1>Welcome to EazyShop!</h1>
    <h3>At our site you will be exposed to an innovative method that helps the consumer make his purchase easily and
        quickly.
        <br> If your work is a collector, this site will help you a lot in your work by creating for you the shortest
        route you need to go from your number of lists. <br> All you need is good luck!
    </h3>
</div>