.prod
{
    text-align: center;
    font-size: larger;
    font-family: revert;
    font-weight: bold;
    border-radius: 5%;
    border: rgb(15, 15, 15) solid 2px;
    width: 200px;
    color: rgb(15, 15, 15);
    margin: 40px;
    padding: 25px;
}
/* .prod:hover
{
    color: white;
    background-color: rgb(87, 85, 85);
} */
.btn-warning
{
    background-color: rgb(58 215 227);
    font-size: 12px;
    height: 10%;
    width: 50;
    border: 2px black;
    font-weight: bold;
}

